.*
!.circleci
!.dependabot
!.gitignore
!.goxc.json
!.travis.yml
/build
/build-linux-*/
/snapshot
/id
/pid
/wix/mackerel-agent.wxs
/wix/mackerel-agent.wixobj
/rpmbuild/
/CREDITS

packaging/rpm/src/mackerel-agent.conf
packaging/deb/debian/mackerel-agent.conf
packaging/deb/debian/mackerel-agent.bin
packaging/*.tar.gz
packaging/deb-build
packaging/rpm-build
packaging/*.deb
packaging/*.changes
packaging/*.dsc
packaging/*.build*
packaging/*.debian.tar.xz

/mackerel-agent.conf
