Source: mackerel-agent
Section: admin
Priority: extra
Maintainer: Hatena <mackerel-developers@hatena.ne.jp>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://mackerel.io

Package: mackerel-agent
Architecture: all
Depends: ${misc:Depends}
Description: mackerel.io agent
 Server monitoring agent for https://mackerel.io (Monitoring SaaS)
