#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

package=mackerel-agent

override_dh_installinit:
	dh_installinit --no-start --no-restart-on-upgrade --name=${package} -- defaults 95 05

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_install:
	dh_auto_install
	install    -m 755 debian/${package}.bin        debian/${package}/usr/bin/${package}
	install    -m 755 debian/${package}.deprecated debian/${package}/usr/local/bin/${package}
	install    -m 644 debian/${package}.conf       debian/${package}/etc/mackerel-agent/${package}.conf.example

override_dh_usrlocal:
