name: "Create Release PR"
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "next release version"
        required: true
env:
  GIT_AUTHOR_NAME: mackerelbot
  GIT_AUTHOR_EMAIL: mackerelbot@users.noreply.github.com
  GIT_COMMITTER_NAME: mackerelbot
  GIT_COMMITTER_EMAIL: mackerelbot@users.noreply.github.com

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: mackerelio/mackerel-create-release-pull-request-action@c30e6538510d81ac7acb49cbadd7a6d15162006d # v0.0.1
        id: start
        with:
          github_token: ${{ secrets.MACKERELBOT_GITHUB_TOKEN }}
          next_version: ${{ github.event.inputs.release_version }}
          package_name: mackerel-agent
          ignore_update_program_files: "true"

      - uses: mackerelio/mackerel-create-release-pull-request-action@c30e6538510d81ac7acb49cbadd7a6d15162006d # v0.0.1
        with:
          github_token: ${{ secrets.MACKERELBOT_GITHUB_TOKEN }}
          finished: "true"
          package_name: mackerel-agent
          next_version: ${{ steps.start.outputs.nextVersion }}
          branch_name: ${{ steps.start.outputs.branchName }}
          pull_request_infos: ${{ steps.start.outputs.pullRequestInfos }}
